/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 80px;
  text-align: center;
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #343a40;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.success{
					border: 1px solid green;
					background-color: rgba(0, 255, 0, 0.5);
					padding: 30px;
					text-align: center;
}

.error{
					border: 1px solid red;
					background-color: rgba(255, 0, 0, 0.5);
					padding: 30px;
					text-align: center;
}