<form action="Producteur.php" method="post" enctype="multipart/form-data">
<!--  <p>Votre hash : <input type="text" name="hash" /></p>-->
 <p>Générer la signature (hash) de votre fichier.<br></p>
 <p>Choix du fichier :<input type="file" name="fileToUpload" id="fileToUpload"></p>
 <p>URL de stockage de votre fichier : <input type="text" name="URL" /></p>

 <p><input type="submit" value="OK"></p>
</form>




